body {
    background-color: #2d2e31;
    padding: 0px;
    border-radius: 1px;
    direction: column;
}

search {
    align-items: center;
    direction: column;
}

query {
    background-color: #48494E;
    width: 520px;
    height: 5px;
    padding: 10px;
    font-size: 15px;
}
