body {
    background-color: #2d2e31;
    padding: 0px;
    border-radius: 1px;
    direction: column;
    font-family: Montserrat;
}

search {
    align-items: center;
    direction: column;
}

query {
    background-color: #48494E;
    width: 520px;
    height: 5px;
    padding: 10px;
    font-size: 15px;
    border-color: transparent;
}

card {
    opacity: 0.0;

    direction: column;
    padding: 10px;
    border-radius: 12px;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    gap: 5px;
}

a {
    font-family: Cascadia Code;
    letter-spacing: 4px;
    font-size: 12px;
}

p {
    font-family: Corbel;
    font-size: 12px;
}

domain {
    font-family: Cascadia Code;
    font-size: 9px;
}

subheader {
    font-family: Cascadia Code;
    color: gainsboro;
}

submain {
    direction: column;
    gap: 10px;
}
